<p>
  This game is a memory matching game featuring Marvel superheroes. At the beginning of the game,
  eight random heroes will be used to create 16 cards in the 16 positions on the web page.
</p>

<p>
  The cards are facing down, and players need to click to flip over two cards within 30 seconds to
  try and find a pair of matching heroes. If a player successfully matches a pair of cards, they can
  keep those cards. Otherwise, the cards will automatically flip back to their original position
  until all cards have been matched.
</p>
<p>
  This game can help players improve their focus, attention, and memory while also allowing Marvel
  fans to enjoy and reminisce about the classic images and characters of Marvel superheroes.
</p>

<br />

<h5 class="text-center">Disclaimer</h5>

<p>
  This project is for display purposes only and may not be used for commercial purposes or
  distributed, nor may it be modified or reposted to other websites.
</p>

<p>
  The images in this project are sourced from
  <a href="https://wallpapers.com/" target="_blank">Wallpapers.com</a>
  website.
</p>
