<h5>Directions</h5>
<p>
  Flip is a timed card memory game. Click the marvel cards to see what hero they uncover and try to
  find the matching hero underneath the other cards. Uncover two matching heros at once to eliminate
  them from the game. Eliminate all cards as fast as you can to win the game.
</p>
<p>
  After pressing the start button, you have 30 seconds to match eight groups of heroes. Good luck!
</p>

<br />

<h5>Copyright Notice</h5>
<p>
  The project is for display only, it may not be copied for commercial use or distribution, nor may
  they be modified or reposted to other sites.
</p>
<p>
  The source of the pictures used in this project is the
  <a href="https://wallpapers.com/" target="_blank">Wallpapers.com</a>
  website.
</p>
