.wrapper {
  min-height: 100vh;
  min-width: 100vw;
  background-image: url("../assets/images/marvel-heros-bg.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto auto 1fr;
}

.gaming-zone {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
}
