.card-container {
  position: relative;
  transform-style: preserve-3d;

  &.active {
    transform: rotateY(180deg);
  }

  img {
    position: absolute;
    left: 50%;
    top: 50%;
    display: block;
    backface-visibility: hidden;
    width: 100%;
  }

  .card-front {
    transform: translate(-50%, -50%) rotateY(180deg);
  }

  .card-back {
    transform: translate(-50%, -50%);
  }
}
